---json
{
    "layout": null,
    "permalink": "blogg/feed.xml",
    "eleventyExcludeFromCollections": true,
    "metadata": {
        "title": "Security Champions Norge",
        "subtitle": "Blogg fra fellesskapet Security Champions Norge",
        "language": "no",
        "url": "https://securitychampions.no"
    }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.subtitle }}</subtitle>
    <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
    <link href="{{ metadata.url }}"/>
    <updated>{{ collections.blogpost | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}</id>
    {%- for post in collections.blogpost | reverse %}
        {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
        <entry>
            <title>{{ post.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ post.date | dateToRfc3339 }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <author>
                <name>{{ post.data.author.name }}</name>
                <uri>{{ post.data.author.link }}</uri>
            </author>
            <summary>{{ post.data.description }}</summary>
            <content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
        </entry>
    {%- endfor %}
</feed>
