---
description: Norsk fellesskap for sikkerhetskultur
pageClass: base
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/sc-logo.ico" />
    <title>{% if title %}{{ title }} | {% endif %} Security Champions Norge</title>
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <header class="header">
        <span>❤️ <a href="/">Hjem</a></span>
        <a href="/blogg">Blogg</a>
        <a href="/om-fellesskapet">Om fellesskapet</a>
        <a href="{{ site.githubRepoUrl }}" class="github" title="Se på GitHub" aria-label="Se på GitHub">{% svg "github" %}</a>
    </header>
    <div class="main-wrapper">
        <main class="main page-{{pageClass}}">
            {{ content | safe }}
        </main>
    </div>
    <footer class="footer">
        <span>&copy; Security Champions Norge {% year %}. Laget med <a href="https://www.11ty.dev">11ty</a></span>
        <span><a href="{{ site.githubRepoUrl }}/blob/main/{{ page.inputPath }}">Rediger på GitHub</a></span>
    </footer>
  </body>
</html>
