---
title: Security Champions Norge
pageClass: base
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/sc-logo.ico" />
    <title>{{ title }}</title>
    <meta name="description" content="Norsk felleskap for sikkerhetskultur" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <header class="header">
        <span>❤️ <a href="/">Hjem</a></span>
        <a href="/blog">Blog</a>
        <a href="/om-fellesskapet">Om fellesskapet</a>
        <a href="https://github.com/Security-Champions-Norway/securitychampions.no" class="github" title="Se på GitHub" aria-label="Se på GitHub">{% svg "github" %}</a>
    </header>
    <div class="main-wrapper">
        <main class="main page-{{pageClass}}">
            {{ content | safe }}
        </main>
    </div>
    <footer class="footer">
        <span>&copy; Security Champions Norge {{ page.date.getFullYear() }}. Laget med <a href="https://www.11ty.dev">11ty</a></span>
    </footer>
  </body>
</html>