---
layout: layouts/base.njk
pageClass: blogpost
---

<article class="blog-post">
    <h1 class="blog-title">{{title}}</h1>
    <span class="blog-metadata">
        <img class="blog-author-image" src="{{author.image}}" alt="Bilde av {{author.name}}" />
        <span class="blog-author-and-date">
            <span class="blog-author"><a href="{{author.link}}">{{ author.name }}</a></span>
            <span class="blog-date">{{ date | formatDateHuman }}</span>
        </span>
    </span>

    <article class="blog-content">
        <h2>{{description}}</h2>

        {{ content | safe }}
    </article>

    <hr />

    Denne nettsiden er laget med <a href="https://www.11ty.dev">11ty</a>, og kildekoden ligger åpent på GitHub: <a href="{{ site.githubRepoUrl }}">Security-Champions-Norway/securitychampions.no</a>. Send gjerne inn pull requester, eller be om bli lagt inn i <a href="{{ site.githubOrgUrl }}">organisasjonen</a>.
</article>
