---
layout: "layouts/base.njk"
pageClass: index
---

<h1 class="title">Security Champions Norge</h1>

<img src="/img/sc-logo-light.svg" height="150px" alt="Security Champions Norge logo" />

<p class="tagline">
Norges hyggeligste fellesskap for sikkerhetskultur ❤️
</p>
