---
layout: "layouts/base.njk"
pageClass: index
---

<h1 class="title">{{ title }}</h1>

<img src="/img/sc-logo-light.svg" height="150px" />

<p class="tagline">
Norges hyggeligste fellesskap for sikkerhetskultur ❤️
</p>
