---
layout: "layouts/base.njk"
pageClass: about
title: Om fellesskapet
---

<h1>Fellesskapet</h1>
<p>Security Champions Norge er et fellesskap for folk interessert i sikkerhetskultur.</p>

<h1>Historien</h1>
<p>Hvordan startet det hele? Jo, det får du vite snart.</p>